@model StartCommandModel
@{
    ViewData["Title"] = "CMD";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<div class="text-center form-floating">
    <h1 class="display-4">What do you need?</h1>
    <div>
        <textarea id="commandOutput" disabled style="width:70vw;height:40vh;white-space: pre-wrap;">
        </textarea>
    </div>
    <div>
        <input style="width:65vw" id="commandInput" type="text" name="command" value="" />
        <button id="sendCommandButton" style="width:5vw">></button>
    </div>
</div>

<script>
    $('#commandInput').focus();
    
    const pollForMessages = () => {
        const output = $('#commandOutput');
        const sessionId = '@Model.SessionId';

        $.get("/command/PollForMessages?sessionId=" + sessionId, function(response) {
            
            if (response.messages.length == 0) {
                setTimeout(() => {
                    pollForMessages();
                }, 1000);
            }

            response.messages.forEach(message => {
                output.append('\r\n' + message);
            });

            // IDK why I have to do it this way, whatever.
            const outy = document.getElementById('commandOutput')
            outy.scrollTop = outy.scrollHeight;
        });
    };
    
    const sendCommand = () => {
        const output = $('#commandOutput');
        const input = $('#commandInput').val();
        const sessionId = '@Model.SessionId';
        output.append('\r\n------>' + input);
        $('#commandInput').val('');

        $.get("/command/send?sessionId=" + sessionId + "&command=" + input, function(response) {
            setTimeout(() => {
                pollForMessages();
            }, 1000);
        });
    };



    $('#commandInput').keypress(function(event){
        if(event.keyCode == 13){
            sendCommand();
        }
    });

    $("#sendCommandButton").click(sendCommand);

</script>