@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">If you have to ask, you can't afford it.</h1>
    <a href="/command/start">I know what I'm doing here</a>
</div>
