@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Why did you even click this? If you don't know why you're here, I don't know what to tell you. Stay off my fucking server.</p>
